/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: white;
}

.reminders-container {
    display: flex;
    flex-direction: column; /* Apilar los recordatorios y el botón verticalmente */
    align-items: center;
    margin-bottom: 20px; /* Espacio debajo de los recordatorios */
}

.reminders {
    display: flex;
    gap: 15px; /* Espacio entre los recordatorios */
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.select-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .select-button:hover {
        background-color: #0056b3;
    }

/* Estilo general del contenedor */
.message-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

    .message-container label {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 10px;
        width: 100%;
    }

.message-input {
    padding: 10px;
    font-size: 1em;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.save-message-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin-bottom: 15px;
}

    .save-message-button:hover {
        background-color: #218838;
    }

.action-buttons {
    display: flex;
    justify-content: space-around; /* Asegura que haya espacio igual entre los botones */
    gap: 20px;
    width: 100%;
}

.side-by-side-container {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

    .input-group label {
        margin-bottom: 5px;
    }

.program-button, .cancel-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto; /* El ancho será automático basado en el contenido */
    text-align: center;
}

.program-button {
    background-color: #007bff;
    min-width: 150px; /* Tamaño de referencia del botón Programar */
}

    .program-button:hover {
        background-color: #0056b3;
    }

.cancel-button {
    background-color: #dc3545;
    min-width: 95px; /* Hacemos el botón Cancelar ligeramente más pequeño */
    padding: 5px 20px; /* Reducimos el padding vertical (arriba y abajo) */
}

    .cancel-button:hover {
        background-color: #c82333;
    }


.disabled {
    background-color: #d6d6d6; /* Color gris claro para indicar que está deshabilitado */
    color: #a9a9a9; /* Color de texto gris para mayor contraste */
    cursor: not-allowed; /* Cambiar el cursor para indicar que no se puede hacer clic */
}

    .disabled:hover {
        background-color: #d6d6d6; /* Mantener el color gris claro al pasar el mouse */
    }

.notification {
    display: none;
    position: fixed;
    top: 0; /* Posición en la parte superior */
    left: 0;
    width: 100%; /* Ocupa el ancho completo */
    padding: 10px 0; /* Padding superior e inferior reducido para que sea más delgada */
    background-color: rgba(75, 175, 80, 0.9); /* Fondo verde semi-opaco para éxito */
    color: white;
    text-align: center;
    z-index: 1000;
    font-size: 1.1em;
    transition: opacity 0.5s ease;
}

    .notification.visible {
        display: block;
        opacity: 1;
    }

    .notification.hidden {
        opacity: 0;
    }

    /* Notificación de éxito (verde) */
    .notification.success {
        background-color: rgba(75, 175, 80, 0.8); /* Verde */
    }

    /* Notificación de advertencia o error (rojo) */
    .notification.error {
        background-color: rgba(255, 0, 0, 0.8); /* Rojo */
    }
